{% extends 'base.html' %}
{% block up%}
{{ super() }}
<img id='passw'src="{{url_for('static',filename='vid/passw.jpg')}}", alt="welcome">

<form class="row" method="post">
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Email</label>
    <input type="text" class="form-control" id="inputPassword1" placeholder="Email" name="email">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="new_password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</form>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for cat, msg in messages %}
      <p class="{{cat}}">{{ msg }}</p>
    {% endfor %}
  {% endwith %}
{% endblock up %}
