<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="wg-api-football-livescore"
     data-host="v3.football.api-sports.io"
     data-refresh="15"
     data-key="c7b11988c68675dbc29788b620d0a92f"
     data-theme="dark"
     data-show-errors="true"
     class="api_football_loader">
    <a class="btn btn-primary" href="/home" role="button">Go Back To Home Page</a>

</div>
<script
    type="module"
    src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script>
</body>
</html>